/* header */
.fixed-container {
	max-width: 1210px;
	min-width: 280px;
	padding: 0 20px;
	margin: 0 auto;
}
.header {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	.header-nav__ul {
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 16px;
	}

		.header-nav__ul-li {
			margin-right: 32px;
		}
		.header-nav__ul-li a {
			transition: 0.3s;
		}
		.header-nav__ul-li a:hover {
			color: red;
			border-bottom: 1px solid red;
		}

	.header-ordercall {
		display: flex;
		align-items: center;
	}
		.header-ordercall__phone {
			font-style: normal;
			font-weight: 700;
			font-size: 25px;
			margin-right: 30px;
		}
		.header-ordercall__button {
			padding: 16px 40px;
			background-color: transparent;
			border: 1px solid #f82370;
			font-size: 16px;
			color: #f53f4f;
			cursor: pointer;
			transition: 0.3s;
		}
		.header-ordercall__button:active, .header-ordercall__button:hover {
			outline: none;
		}
		.header-ordercall__button:hover {
			background-color: #f82370;
			color: #fff;
		}
		.header-hamburger {
			display: none;
		}
/* header end */
@media (max-width: 1024px) {
	.fixed-container {
		padding-left: 40px;
		padding-right: 40px;
	}
	.header {
		flex-wrap: wrap;
	}
	.header-nav {
		display: none;
		order: 3;
		width: 100%;
	}
	.header-nav__ul {
		justify-content: space-between;
	}
	.header-nav__ul-li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	.header-nav__ul-li {
		cursor: pointer;
		margin-right: 0;
		margin-top: 20px;
		height: 40px;
		text-align: center;
	}
	.header-nav__ul-li a:hover {
		color: #fff;
	}
	.header-nav__ul-li a {
		width: 100%;
		padding: 15px 0;
	}
	.header-nav__ul-li:hover {
		background-image: -moz-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
		background-image: -webkit-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
		background-image: -ms-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
	}
	.header-ordercall {
		order: 2;
	}
	.header-hamburger {
		order: 1;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 658px) {
	.header-ordercall__button {
		font-size: 0px;
		border: 0px;
		padding: 0px;
		width: 27px;
		height: 27px;
		background-image: url('../img/phone-mobile.png');
		background-repeat: no-repeat;
	}
	.header-ordercall__button:after {
		content: '/ff';
	}
	.header-ordercall__button:hover {
		background-color: transparent;
	}
	.header-ordercall {
		flex-grow: 1;
		justify-content: space-between;
	}
	.header-hamburger {
		flex-grow: 1;
	}
}
@media (max-width: 520px) {
	.header-ordercall__phone {
		font-size: 18px;
	}
	.fixed-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-ordercall {
		flex-grow: 0;
		justify-content: flex-end;
	}
	.header-hamburger {
		flex-grow: 0;
	}
}
