.modal-window {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 129, 99, 0.5);
  position: fixed;
  display: none;
  z-index: 1200;
  justify-content: center;
  align-items: center;
}

.modal-window__container {
  position: relative;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.modal-window__container__button__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-window__container__button__close:hover {
  opacity: 1;
  animation: button__close__animate 0.7s ease-in-out infinite;
}
@keyframes button__close__animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-window__container__button__close:before, .modal-window__container__button__close:after {
  position: absolute;
  content: ' ';
  top: 0;
  height: 25px;
  width: 2px;
  background-color: #333;
}
.modal-window__container__button__close:before {
  transform: rotate(45deg);
}
.modal-window__container__button__close:after {
  transform: rotate(-45deg);
}

fieldset {
  border: 0;
  padding: 0;
}

.modal-window input, .modal-window label {
  clear: left;
  float: left;
  margin-bottom: 10px;
}
.modal-window input {
  width: 90%;
  border-radius: 20px;
  padding: 10px 5%;
  border: 0;
  background-color: #f6f6f6;
}

.modal-window__container__form {
  margin-top: 30px;
}

.modal-window__container__button__send {
  padding: 16px 40px;
  background-color: transparent;
  border: 1px solid #f82370;
  font-size: 16px;
  color: #f53f4f;
  cursor: pointer;
  transition: 0.3s;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-window__container__button__send:hover {
background-color: #f82370;
color: #fff;
}
input:active, input:hover, .modal-window__container__button__send:active, .modal-window__container__button__send:hover, .modal-window__container__button__close:active, modal-window__container__button__close:hover {
  outline: none;
}
@media (max-width: 500px) {
  .modal-window__container {
    width: 100%;
    border-radius: 0px;
  }
}
