.section-3__h2{
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  margin: 103px 0px;
}
.section-3 {
    position: relative;
  text-align: center;
  opacity: 0;
  transition: 4s;
}
.section-3__button {
  padding: 22px 65px;
  margin: 103px 0px;
}
.section-3__slider  {
  font-size: 20px;
  font-weight: 500;
  color: #8993ad;
  overflow: hidden;
}
.section-3__slider-li__a__imgg {
  margin-bottom: 40px;
}
.section-3__slider-li__a__nameproject {
  cursor: pointer;
}
.section-3__slider-li {
  width: 370px;
  margin-left: 30px;
  float: left;
}
.slick-arrow {
  font-size: 0;
  background-color: inherit;
  border: 0;
  width: 62px;
  height: 61px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 4;
  top: 43%;
  cursor: pointer;
}
.slick-arrow:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
}

.slick-prev {
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  left: 10px;
}
.slick-next {
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1);
  right: 10px;
}
.slick-dots {
  content: " ";
clear: both;
display: flex;
justify-content: center;

}
.slick-dots button{
  font-size: 0;
  border-radius: 50%;
  border: 0;
  background-color: #ebebeb;
  width: 10px;
  height: 12px;
  cursor: pointer;
  margin-right: 14px;
  margin-top: 50px;
}
.slick-dots button:active {
  background-color: #ff4e2e;
  outline: none;
}
.slick-dots button:focus {
  outline: none;
  background-color: #ff4e2e;
}
@media (max-width: 520px) {
  .section-3 {
    background-color: #fbfbfb;
  }
  .section-3__h2 {
    font-size: 30px;
    margin: 50px 0px;
  }
  .section-3__slider {
    font-size: 18px;
    padding: 0;
  }
  .section-3__button {
    padding: 22px 78px;
    font-size: 16px;
    margin: 50px auto;
  }
}
