
body {
	min-width: 320px;

	margin: 0;

	background-color: #fbfbfb;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: black;

}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}



ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

/* live hack */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}
